@use "mixin";

// var
$color1: #101336;
$color2: #736197;
$color3: #017aff;

$color4: #58c7fd;
$background: #042935;
$color6: #00131c;

$color7: #030910;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Courier New", Courier, monospace;
}
header {
  height: 15vh;
  width: 100vw;
  background-color: $background;
}
.navbar {
  position: absolute;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  a {
    color: $color3;
  }

  .name {
    font-size: 2em;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    ul {
      display: flex;

      li {
        margin: 0 30px;
      }
      .active {
        a {
          border-bottom: #58c7fd 2px solid;
          font-weight: 600;
        }
      }
    }
  }
  .menu-burger {
    display: none;
    position: absolute;
    right: 50px;
    top: 40%;
    width: 60px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;

    .name {
      position: absolute;
      top: 50px;
      left: 35px;
    }
    .nav-links {
      position: absolute;
      background-color: $color7;
      opacity: 0.9;
      backdrop-filter: blur(7px);
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: -100%;

      transition: all 0.5s ease;

      ul {
        display: flex;
        flex-direction: column;

        align-items: center;

        li {
          margin: 25px 0;
          font-size: 2em;
        }
      }
    }
    .mobile-menu {
      margin-left: 0;
    }

    .menu-burger {
      display: block;
      position: absolute;
      right: 35px;
      top: 40px;
      width: 55px;
    }
  }
}
