@use "mixin";

// var
$color1: #101336;
$color2: #736197;
$color3: #017aff;

$color4: #58c7fd;
$background: #042935;
$color6: #00131c;

$color7: #030910;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Courier New", Courier, monospace;
}
header {
  height: 20vh;
  width: 100vw;
  background-color: $background;
}
.navbar {
  position: absolute;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  a {
    color: $color3;
  }

  .name {
    font-size: 2em;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    ul {
      display: flex;

      li {
        margin: 0 30px;
      }
      .active {
        a {
          border-bottom: #58c7fd 2px solid;
          font-weight: 600;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
  }
}
